.dash {
        width: 130px;
        height: 3px;
        border-radius: 50px;
        background: linear-gradient(45deg, #08D777, #1FD656);
        background: -webkit-linear-gradient(45, #08D777, #1FD656);
        background: -moz-linear-gradient(45, #08D777, #1FD656);
        margin-top: 5px;
        margin-bottom: 10px;
        align-self: flex-start;

        @media #{$media-small}{
                width: 100px;
        }
}